<a href="https://colab.research.google.com/github/ThomasK13/dotfiles/blob/main/pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Starting Spark session

In [40]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('DataFrame').getOrCreate()

## Reading the data

In [52]:
orders_datapath = '/content/drive/MyDrive/dataset/orders.csv'
orders_df = spark.read.csv(
    orders_datapath,
    header = True, 
    inferSchema = True)
orders = orders_df.select('Order Date','City','Product Name','Sales','Quantity','Discount','Profit')
orders.show()

+----------+-------------+--------------------+--------+--------+--------+----------+
|Order Date|         City|        Product Name|   Sales|Quantity|Discount|    Profit|
+----------+-------------+--------------------+--------+--------+--------+----------+
|31-07-2012|New York City|Plantronics CS510...| 2309.65|       7|       0|  762.1845|
|05-02-2013|   Wollongong|Novimex Executive...|3709.395|       9|     0.1|  -288.765|
|17-10-2013|     Brisbane|Nokia Smart Phone...|5175.171|       9|     0.1|   919.971|
|28-01-2013|       Berlin|Motorola Smart Ph...| 2892.51|       5|     0.1|    -96.54|
|05-11-2013|        Dakar|Sharp Wireless Fa...| 2832.96|       8|       0|    311.52|
|28-06-2013|       Sydney|Samsung Smart Pho...|2862.675|       5|     0.1|   763.275|
|07-11-2011|      Porirua|Novimex Executive...| 1822.08|       4|       0|    564.84|
|14-04-2012|     Hamilton|Chromcraft Confer...| 5244.84|       6|       0|    996.48|
|14-10-2014|   Sacramento|Fellowes PB500 El...| 5083.96|       5|     0.2|  1906.485|
|28-01-2012|      Concord|Chromcraft Bull-N...|4297.644|      13|     0.4|-1862.3124|
|05-04-2011|   Alexandria|Martin Yale Chadl...| 4164.05|       5|       0|    83.281|
|19-04-2012|        Kabul|Bevis Conference ...| 4626.15|       5|       0|    647.55|
|27-12-2011|        Jizan|Cisco Smart Phone...| 2616.96|       4|       0|    1151.4|
|13-11-2012|       Toledo|Harbour Creations...|  2221.8|       7|       0|    622.02|
|06-06-2013|   Mudanjiang|KitchenAid Microw...| 3701.52|      12|       0|   1036.08|
|31-07-2014|        Paris|Breville Refriger...|1869.588|       4|     0.1|   186.948|
|03-11-2014|    Henderson|Logitech diNovo E...| 2249.91|       9|       0|  517.4793|
|08-09-2014|        Prato|   Hoover Stove, Red| 7958.58|      14|       0|   3979.08|
|31-01-2014|   Townsville|Brother Fax Machi...|2565.594|       9|     0.1|    28.404|
|05-12-2014|       Uvinza|KitchenAid Stove,...| 3409.74|       6|       0|    818.28|
+----------+-------------+--------------------+--------+--------+--------+----------+
only showing top 20 rows

In [53]:
orders.printSchema()

root
 |-- Order Date: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Discount: string (nullable = true)
 |-- Profit: double (nullable = true)

## Selecting Columns

In [54]:
cols = orders.columns
print(cols)

['Order Date', 'City', 'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit']

In [56]:
orders.select('City')

DataFrame[City: string]

In [57]:
orders.select('City').show()

+-------------+
|         City|
+-------------+
|New York City|
|   Wollongong|
|     Brisbane|
|       Berlin|
|        Dakar|
|       Sydney|
|      Porirua|
|     Hamilton|
|   Sacramento|
|      Concord|
|   Alexandria|
|        Kabul|
|        Jizan|
|       Toledo|
|   Mudanjiang|
|        Paris|
|    Henderson|
|        Prato|
|   Townsville|
|       Uvinza|
+-------------+
only showing top 20 rows

## Datatypes

In [58]:
orders.dtypes

[('Order Date', 'string'),
 ('City', 'string'),
 ('Product Name', 'string'),
 ('Sales', 'string'),
 ('Quantity', 'string'),
 ('Discount', 'string'),
 ('Profit', 'double')]

## Describing dataframe

In [59]:
orders.describe()

DataFrame[summary: string, Order Date: string, City: string, Product Name: string, Sales: string, Quantity: string, Discount: string, Profit: string]

In [60]:
orders.describe().show()

+-------+----------+--------------------+--------------------+------------------+-----------------+-------------------+------------------+
|summary|Order Date|                City|        Product Name|             Sales|         Quantity|           Discount|            Profit|
+-------+----------+--------------------+--------------------+------------------+-----------------+-------------------+------------------+
|  count|     51290|               51290|               51290|             51290|            51290|              51290|             51290|
|   mean|      null|                null|                null| 247.4554011743524|3.873090735322801|0.17393517814308795|28.597540880873463|
| stddev|      null|                null|                null|488.71690163686037|11.48156812081264| 1.4763150260878761|174.37475086964483|
|    min|01-01-2011|              Aachen|"""While you Were...|          10/Pack"|     1040 sheets"|            30/Box"|         -6599.978|
|    max|31-12-2014|�guas Lindas de G...|netTALK DUO VoIP ...|            999.98|           98.352|             98.352|          8399.976|
+-------+----------+--------------------+--------------------+------------------+-----------------+-------------------+------------------+

## Adding Columns and Droping Columns

In [62]:
# not an implice operations
orders.withColumn('toal_amt',orders['Sales']+orders['Discount']).show()

+----------+-------------+--------------------+--------+--------+--------+----------+------------------+
|Order Date|         City|        Product Name|   Sales|Quantity|Discount|    Profit|          toal_amt|
+----------+-------------+--------------------+--------+--------+--------+----------+------------------+
|31-07-2012|New York City|Plantronics CS510...| 2309.65|       7|       0|  762.1845|           2309.65|
|05-02-2013|   Wollongong|Novimex Executive...|3709.395|       9|     0.1|  -288.765|          3709.495|
|17-10-2013|     Brisbane|Nokia Smart Phone...|5175.171|       9|     0.1|   919.971| 5175.271000000001|
|28-01-2013|       Berlin|Motorola Smart Ph...| 2892.51|       5|     0.1|    -96.54|           2892.61|
|05-11-2013|        Dakar|Sharp Wireless Fa...| 2832.96|       8|       0|    311.52|           2832.96|
|28-06-2013|       Sydney|Samsung Smart Pho...|2862.675|       5|     0.1|   763.275|          2862.775|
|07-11-2011|      Porirua|Novimex Executive...| 1822.08|       4|       0|    564.84|           1822.08|
|14-04-2012|     Hamilton|Chromcraft Confer...| 5244.84|       6|       0|    996.48|           5244.84|
|14-10-2014|   Sacramento|Fellowes PB500 El...| 5083.96|       5|     0.2|  1906.485|           5084.16|
|28-01-2012|      Concord|Chromcraft Bull-N...|4297.644|      13|     0.4|-1862.3124|          4298.044|
|05-04-2011|   Alexandria|Martin Yale Chadl...| 4164.05|       5|       0|    83.281|           4164.05|
|19-04-2012|        Kabul|Bevis Conference ...| 4626.15|       5|       0|    647.55|           4626.15|
|27-12-2011|        Jizan|Cisco Smart Phone...| 2616.96|       4|       0|    1151.4|           2616.96|
|13-11-2012|       Toledo|Harbour Creations...|  2221.8|       7|       0|    622.02|            2221.8|
|06-06-2013|   Mudanjiang|KitchenAid Microw...| 3701.52|      12|       0|   1036.08|           3701.52|
|31-07-2014|        Paris|Breville Refriger...|1869.588|       4|     0.1|   186.948|1869.6879999999999|
|03-11-2014|    Henderson|Logitech diNovo E...| 2249.91|       9|       0|  517.4793|           2249.91|
|08-09-2014|        Prato|   Hoover Stove, Red| 7958.58|      14|       0|   3979.08|           7958.58|
|31-01-2014|   Townsville|Brother Fax Machi...|2565.594|       9|     0.1|    28.404|          2565.694|
|05-12-2014|       Uvinza|KitchenAid Stove,...| 3409.74|       6|       0|    818.28|           3409.74|
+----------+-------------+--------------------+--------+--------+--------+----------+------------------+
only showing top 20 rows

In [64]:
orders.drop('Order Date','Sales').show()

+-------------+--------------------+--------+--------+----------+
|         City|        Product Name|Quantity|Discount|    Profit|
+-------------+--------------------+--------+--------+----------+
|New York City|Plantronics CS510...|       7|       0|  762.1845|
|   Wollongong|Novimex Executive...|       9|     0.1|  -288.765|
|     Brisbane|Nokia Smart Phone...|       9|     0.1|   919.971|
|       Berlin|Motorola Smart Ph...|       5|     0.1|    -96.54|
|        Dakar|Sharp Wireless Fa...|       8|       0|    311.52|
|       Sydney|Samsung Smart Pho...|       5|     0.1|   763.275|
|      Porirua|Novimex Executive...|       4|       0|    564.84|
|     Hamilton|Chromcraft Confer...|       6|       0|    996.48|
|   Sacramento|Fellowes PB500 El...|       5|     0.2|  1906.485|
|      Concord|Chromcraft Bull-N...|      13|     0.4|-1862.3124|
|   Alexandria|Martin Yale Chadl...|       5|       0|    83.281|
|        Kabul|Bevis Conference ...|       5|       0|    647.55|
|        Jizan|Cisco Smart Phone...|       4|       0|    1151.4|
|       Toledo|Harbour Creations...|       7|       0|    622.02|
|   Mudanjiang|KitchenAid Microw...|      12|       0|   1036.08|
|        Paris|Breville Refriger...|       4|     0.1|   186.948|
|    Henderson|Logitech diNovo E...|       9|       0|  517.4793|
|        Prato|   Hoover Stove, Red|      14|       0|   3979.08|
|   Townsville|Brother Fax Machi...|       9|     0.1|    28.404|
|       Uvinza|KitchenAid Stove,...|       6|       0|    818.28|
+-------------+--------------------+--------+--------+----------+
only showing top 20 rows

## Renaming the columns

In [65]:
orders.withColumnRenamed('Sales','Amount').show()

+----------+-------------+--------------------+--------+--------+--------+----------+
|Order Date|         City|        Product Name|  Amount|Quantity|Discount|    Profit|
+----------+-------------+--------------------+--------+--------+--------+----------+
|31-07-2012|New York City|Plantronics CS510...| 2309.65|       7|       0|  762.1845|
|05-02-2013|   Wollongong|Novimex Executive...|3709.395|       9|     0.1|  -288.765|
|17-10-2013|     Brisbane|Nokia Smart Phone...|5175.171|       9|     0.1|   919.971|
|28-01-2013|       Berlin|Motorola Smart Ph...| 2892.51|       5|     0.1|    -96.54|
|05-11-2013|        Dakar|Sharp Wireless Fa...| 2832.96|       8|       0|    311.52|
|28-06-2013|       Sydney|Samsung Smart Pho...|2862.675|       5|     0.1|   763.275|
|07-11-2011|      Porirua|Novimex Executive...| 1822.08|       4|       0|    564.84|
|14-04-2012|     Hamilton|Chromcraft Confer...| 5244.84|       6|       0|    996.48|
|14-10-2014|   Sacramento|Fellowes PB500 El...| 5083.96|       5|     0.2|  1906.485|
|28-01-2012|      Concord|Chromcraft Bull-N...|4297.644|      13|     0.4|-1862.3124|
|05-04-2011|   Alexandria|Martin Yale Chadl...| 4164.05|       5|       0|    83.281|
|19-04-2012|        Kabul|Bevis Conference ...| 4626.15|       5|       0|    647.55|
|27-12-2011|        Jizan|Cisco Smart Phone...| 2616.96|       4|       0|    1151.4|
|13-11-2012|       Toledo|Harbour Creations...|  2221.8|       7|       0|    622.02|
|06-06-2013|   Mudanjiang|KitchenAid Microw...| 3701.52|      12|       0|   1036.08|
|31-07-2014|        Paris|Breville Refriger...|1869.588|       4|     0.1|   186.948|
|03-11-2014|    Henderson|Logitech diNovo E...| 2249.91|       9|       0|  517.4793|
|08-09-2014|        Prato|   Hoover Stove, Red| 7958.58|      14|       0|   3979.08|
|31-01-2014|   Townsville|Brother Fax Machi...|2565.594|       9|     0.1|    28.404|
|05-12-2014|       Uvinza|KitchenAid Stove,...| 3409.74|       6|       0|    818.28|
+----------+-------------+--------------------+--------+--------+--------+----------+
only showing top 20 rows

## Handling missing values