In [1]:

families={
    'receiver':{'01':'receiver_first','02':'receiver_middle','03':'receiver_last_name'}, # sender info
    'sender':{'01':'sender_first','02':'sender_middle','03':'sender_last_name','04':'transaction_id','05':'sender_address'}, # receiver info
    'additional_info':{'01':'transaction_id','02':'amount'} # additional info
}

family_name = {
    '01':'receiver',
    '02':'sender',
    '03':'additional_info'
}


string0 = '010100106thomas020100206martin0302001108547824728020241'

string1 = "010080304luke020080304stev0302001107025423499020241" # sample strings 
string2 = "010080304meri0302001109562348628020241"
strings = [string0,string1,string2]

In [2]:
import re
# sepearating blocks main blocks (sender, reciever and additional info) from the main string
def get_blocks(string):
    pattern = re.compile(r'\d\d\d\d\d')
    matches = pattern.finditer(string)
    for i in matches:
        family = string[0:5]
        family_l = int(string[2:5])
        block = string[5:5+family_l]
        string_blocks.append((family_name[family[:2]],block))
        string = string[5+family_l:]
        return get_blocks(string)

In [3]:
# from block and the family : extracting the sublevel keys and values 
# eg. sender family has { 01,02,03,04 } keys and the corresponding values 
def get_row(st,family):
    codes = families[family]  
    row.fromkeys(list((codes.keys())))
    for i in range(len(st)-1):
        try:
            code = st[i:i+2]
            if code in codes:
                len_ = int(st[i+2:i+4])
                data = st[i+4:i+4+len_]
                if data:
                    row[code]=data
                st = st[i+4+len_:]
                return get_row(st,family)
        except:
            continue

In [4]:
# finally creating a list of final rows which contains a dictionary for each row: 
# each dictionary has keys (representing the families) and values representing the {sub}
final_rows = []
for string in strings:
    string_blocks = []
    get_blocks(string)
    
    rows = {}
    rows.fromkeys(families)
    
    for st_bl in string_blocks:
        row = {}
        get_row(st_bl[1],st_bl[0])
        rows[st_bl[0]] = row
    final_rows.append(rows)

In [5]:
final_rows

[{'receiver': {'01': 'thomas'},
  'sender': {'02': 'martin'},
  'additional_info': {'01': '8547824728', '02': '41'}},
 {'receiver': {'03': 'luke'},
  'sender': {'03': 'stev'},
  'additional_info': {'01': '7025423499', '02': '41'}},
 {'receiver': {'03': 'meri'},
  'additional_info': {'01': '9562348628', '02': '41'}}]

In [6]:
receiver_infos = []
additional_infos = []
sender_infos = []
for i in final_rows:
    if 'receiver' in i.keys():
        receiver_infos.append(i["receiver"])
    else:
        reciver_infos.append('NaN')
        
    if 'additional_info' in i.keys():
        additional_infos.append(i['additional_info'])
    else:
        additional_infos.append('NaN')
    
    if 'sender' in i.keys():
        sender_infos.append(i['sender'])
    else:
        sender_infos.append('NaN')

In [7]:
# combine the  info groups with the coresponding features names 
def get_features(family,informations):
    feature_values = {}
    
    receiver_features = {}
    for key,name in families[family].items():
    
        feature_name = name
        name = []
        name = [i[key] if key in i else 'NaN' for i in informations]
        feature_values[feature_name] = name
    return feature_values

In [8]:
# creating the dataframe for each info-group features 
import pandas as pd 
df1 = pd.DataFrame(get_features('additional_info',additional_infos))
df2 = pd.DataFrame(get_features('receiver',receiver_infos))
df3 = pd.DataFrame(get_features('sender',sender_infos))
df = pd.concat([df1,df2,df3],axis = 1)
df

,transaction_id,amount,receiver_first,receiver_middle,receiver_last_name,sender_first,sender_middle,sender_last_name,transaction_id,sender_address
0,8547824728,41,thomas,NaN,NaN,NaN,martin,NaN,NaN,NaN
1,7025423499,41,NaN,NaN,luke,NaN,NaN,stev,NaN,NaN
2,9562348628,41,NaN,NaN,meri,NaN,NaN,NaN,NaN,NaN